{
	# debug
}

localhost:3000 {
	reverse_proxy localhost:8000
}

localhost {
	handle_errors {
		respond "{err.status_code} {err.status_text}"
	}
	forward_auth localhost:8000 {
		uri /caddy
		copy_headers X-BeeLogin-User
	}

    respond "welcome {header.X-BeeLogin-User}"
}
